<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>FREEDOM SUNG</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>


<style>
  body { 
    margin:0; 
    padding:0; 
    font-family: 'Lato', sans-serif;
    background-color: '#000' !important;
    color: #fff;
  }
  #map, #gmap-list { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    background-color: #000;
  }

</style>
</head>


<body>
<div id='map'></div>

<script src="/js/d3.min.js"></script>
<script src="/js/queue.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script src="/js/map.js"></script>


</body>
</html>

